#redes {
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: #F4EDEB;
  margin-top: auto;
}
#redes .redesBox {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
#redes .redesBox .imgFooter img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin: 15px;
}

.wpFooter img:hover {
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: 0.5s;
  transform: translate(-5px, -5px);
}

.igFooter img:hover {
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: 0.5s;
  transform: translate(-5px, -5px);
}

.ubiFooter img:hover {
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: 0.5s;
  transform: translate(-5px, -5px);
}

header {
  background-color: rgba(255, 19, 167, 0.95);
  height: 150px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  z-index: 100;
}

#navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#navBar img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px;
  border: 1px solid #000000;
  filter: drop-shadow(10px 10px 10px #000000);
}
#navBar ul li {
  display: inline-block;
}
#navBar ul li a, #navBar ul li li {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: #000000;
  text-shadow: #ffffff 5px 5px 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: 0.5s;
}
#navBar ul li a:hover, #navBar ul li li:hover {
  color: #ffffff;
  text-shadow: #000000 5px 5px 5px;
  transition: 0.5s;
  font-size: 23px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

a, li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

#mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainContacto h1 {
  font-size: 40px;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainContacto h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainContacto #formContacto {
  display: flex;
  width: 800px;
  flex-direction: column;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#mainContacto #formContacto .redesSociales {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#mainContacto #formContacto .redesSociales p {
  background-color: #ff13a7;
  border: #000000 solid 2px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: 95px;
}
#mainContacto #formContacto .redesSociales img {
  width: 120px;
  height: 120px;
  margin: 10px;
}
#mainContacto #formContacto .redesSociales .wp,
#mainContacto #formContacto .redesSociales .ig {
  width: 400px;
  padding: 20px;
}
#mainContacto #formContacto .redesSociales .wp input,
#mainContacto #formContacto .redesSociales .ig input {
  background-color: #000000;
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#mainContacto #formContacto .redesSociales .wp input:hover,
#mainContacto #formContacto .redesSociales .ig input:hover {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px;
}
#mainContacto .cajaMsj {
  background-color: #ff13a7;
  border: #000000 solid 2px;
  padding: 20px;
  margin: 5px;
}
#mainContacto .cajaMsj .datosPersonales {
  height: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
#mainContacto .cajaMsj .datosPersonales .nombre {
  display: flex;
  flex-direction: column;
}
#mainContacto .cajaMsj .datosPersonales input {
  height: 40px;
  padding: 5px;
}
#mainContacto .cajaMsj .datosPersonales .inputNombre,
#mainContacto .cajaMsj .datosPersonales .inputApellido {
  width: 180px;
}
#mainContacto .cajaMsj .datosPersonales .inputEmail {
  width: 280px;
}
#mainContacto .cajaMsj .datosPersonales .textoConsulta {
  width: 700px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#mainContacto .cajaMsj .datosPersonales .textoConsulta textarea {
  margin-left: 20px;
  resize: none;
  padding: 10px;
  font-size: 15px;
}
#mainContacto .cajaMsj .botones {
  text-align: right;
  margin-right: 25px;
}
#mainContacto .cajaMsj .botones input {
  font-size: 20px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#mainContacto .cajaMsj .botones input:hover {
  background-color: #000000;
  color: #ffffff;
}

#mainEnvios {
  display: flex;
  flex-direction: column;
}
#mainEnvios h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainEnvios #vehiculos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#mainEnvios #vehiculos .moto,
#mainEnvios #vehiculos .viaCargo {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4EDEB;
  width: 550px;
  height: 400px;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainEnvios #vehiculos .moto h2,
#mainEnvios #vehiculos .viaCargo h2 {
  width: 300px;
}
#mainEnvios #vehiculos .moto img,
#mainEnvios #vehiculos .viaCargo img {
  height: 300px;
  padding: 10px;
}

#mainPickup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#mainPickup .mainPickup_h1 {
  font-size: 40px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#mainPickup .mainPickup_mapas {
  display: flex;
  justify-content: center;
}
#mainPickup .mainPickup_mapas .ubi {
  width: 500px;
  margin: 20px;
}

.btn-primary {
  background-color: #ff13a7;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: black;
  color: #ff13a7;
  border-color: #ff13a7;
}

#mainStockFemenino {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#mainStockFemenino h1 {
  margin-top: 10px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tablaStockFemenino {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "pacoRabanne dior calvinKlein azzaro ch kenzo jesusDelPozo armani" "mugler miyake lancome tommy yves dolceGabbana moschino givenchy";
  margin: 20px;
}
#tablaStockFemenino h2 {
  background-color: #ff13a7;
  padding: 5px;
  border: #000000 solid 2px;
  font-size: 15px;
  height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#tablaStockFemenino h3 {
  background-color: #ffffff;
  padding: 5px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.caja {
  background-color: #ffffff;
  border: #000000 solid 2px;
  padding: 10px;
  width: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pacoRabanne {
  grid-area: pacoRabanne;
}

.dior {
  grid-area: dior;
}

.calvinKlein {
  grid-area: calvinKlein;
}

.azzaro {
  grid-area: azzaro;
}

.ch {
  grid-area: ch;
}

.kenzo {
  grid-area: kenzo;
}

.mugler {
  grid-area: mugler;
}

.miyake {
  grid-area: miyake;
}

.lancome {
  grid-area: lancome;
}

.tommy {
  grid-area: tommy;
}

.dolceGabbana {
  grid-area: dolceGabbana;
}

.jesusDelPozo {
  grid-area: jesusDelPozo;
}

.armani {
  grid-area: armani;
}

.moschino {
  grid-area: moschino;
}

.givenchy {
  grid-area: givenchy;
}

#mainStockMasculino {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#mainStockMasculino h1 {
  margin-top: 20px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tablaStockMasculino {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "pacoRabanne dior calvinKlein azzaro ch kenzo versace armani" "mugler miyake creed tommy tomFord dolceGabbana ralphLauren bvlgary";
  margin: 20px;
}
#tablaStockMasculino .caja {
  background-color: #ffffff;
  border: #000000 solid 2px;
  padding: 10px;
  width: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#tablaStockMasculino .tablaStockMasculino_h2 {
  background-color: #ff13a7;
  padding: 5px;
  border: #000000 solid 2px;
  font-size: 15px;
  height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#tablaStockMasculino .tablaStockMasculino_h3 {
  background-color: #ffffff;
  padding: 5px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pacoRabanne {
  grid-area: pacoRabanne;
}

.dior {
  grid-area: dior;
}

.calvinKlein {
  grid-area: calvinKlein;
}

.azzaro {
  grid-area: azzaro;
}

.ch {
  grid-area: ch;
}

.kenzo {
  grid-area: kenzo;
}

.mugler {
  grid-area: mugler;
}

.miyake {
  grid-area: miyake;
}

.creed {
  grid-area: creed;
}

.tommy {
  grid-area: tommy;
}

.tomFord {
  grid-area: tomFord;
}

.dolceGabbana {
  grid-area: dolceGabbana;
}

.versace {
  grid-area: versace;
}

.armani {
  grid-area: armani;
}

.ralphLauren {
  grid-area: ralphLauren;
}

.bvlgary {
  grid-area: bvlgary;
}

main {
  min-height: 100vh;
  display: flex;
  background-color: #000000;
  background-image: url(../images/fotoperfumes3.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#centro h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#centro .banner_titulo h2 {
  color: #000000;
  font-size: 40px;
  text-shadow: #ff13a7 1px 5px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#centro .banner_titulo h3 {
  color: #ff13a7;
  text-shadow: black 1px 5px 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 50px;
  font-size: 30px;
  width: 900px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (min-width: 501px) and (max-width: 880px) {
  #navBar img {
    width: 90px;
    height: 90px;
  }
  #navBar ul li {
    display: block;
    text-align: center;
  }
  #navBar ul li a, #navBar ul li li {
    font-size: 15px;
  }
  #centro .banner_titulo {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #centro .banner_titulo h2 {
    font-size: 40px;
  }
  #centro .banner_titulo h3 {
    font-size: 20px;
    width: 300px;
  }
  #mainStockFemenino {
    flex-wrap: wrap;
    justify-content: center;
  }
  #mainStockFemenino h1 {
    font-size: 30px;
  }
  #tablaStockFemenino {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
  #mainStockMasculino {
    flex-wrap: wrap;
  }
  #mainStockMasculino h1 {
    font-size: 30px;
  }
  #tablaStockMasculino {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
  #mainEnvios h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  #mainEnvios #vehiculos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  #mainEnvios #vehiculos h2 {
    font-size: 15px;
    height: 80px;
  }
  #mainPickup .mainPickup_h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  #mainPickup .mainPickup_mapas {
    flex-wrap: wrap;
  }
  #mainContacto h1 {
    font-size: 30px;
  }
  #mainContacto h2 {
    font-size: 20px;
  }
  #mainContacto #formContacto {
    width: 500px;
    justify-content: center;
  }
  #mainContacto #formContacto .redesSociales {
    flex-wrap: wrap;
  }
  #mainContacto #formContacto .redesSociales .wp img,
  #mainContacto #formContacto .redesSociales .ig img {
    width: 100px;
    height: 100px;
  }
  #mainContacto #formContacto .cajaMsj {
    height: 500px;
  }
  #mainContacto #formContacto .cajaMsj .datosPersonales {
    height: 200px;
    flex-wrap: wrap;
  }
  #mainContacto #formContacto .cajaMsj .textoConsulta {
    width: 400px;
    justify-content: center;
  }
  #mainContacto #formContacto .cajaMsj .textoConsulta .textareaText textarea {
    width: 350px;
  }
  #mainContacto #formContacto .cajaMsj .botones {
    font-size: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  header {
    height: 180px;
  }
  #navBar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #navBar ul li a, #navBar ul li li {
    font-size: 15px;
  }
  #navBar ul li a:hover, #navBar ul li li:hover {
    color: #ffffff;
    text-shadow: #000000 5px 5px 5px;
    transition: 0.5s;
    font-size: 20px;
  }
  #centro .banner_titulo h2 {
    font-size: 30px;
    width: 200px;
  }
  #centro .banner_titulo h3 {
    font-size: 18px;
    width: 200px;
  }
  #mainStockFemenino h1 {
    font-size: 20px;
    margin: 10px;
  }
  #mainStockFemenino #tablaStockFemenino {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 10px;
  }
  #mainStockFemenino #tablaStockFemenino .caja {
    width: 200px;
  }
  #mainStockFemenino #tablaStockFemenino .givenchy {
    margin-bottom: 10px;
  }
  #mainStockMasculino h1 {
    font-size: 20px;
    margin: 10px;
  }
  #mainStockMasculino #tablaStockMasculino {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 10px;
  }
  #mainStockMasculino #tablaStockMasculino .caja {
    width: 200px;
  }
  #mainStockMasculino #tablaStockMasculino .bvlgary {
    margin-bottom: 10px;
  }
  #mainEnvios h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  #mainEnvios #vehiculos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  #mainEnvios #vehiculos .viaCargo,
  #mainEnvios #vehiculos .moto {
    width: 280px;
    height: 260px;
  }
  #mainEnvios #vehiculos .viaCargo img,
  #mainEnvios #vehiculos .moto img {
    width: 250px;
    height: 180px;
  }
  #mainEnvios #vehiculos .viaCargo h2,
  #mainEnvios #vehiculos .moto h2 {
    font-size: 15px;
    height: 80px;
    width: 270px;
  }
  #mainPickup .mainPickup_h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  #mainPickup .mainPickup_mapas {
    flex-wrap: wrap;
    width: 80vw;
    font-size: 10px;
    justify-content: center;
  }
  #mainPickup .card .ubi {
    justify-content: center;
  }
  #mainContacto h1 {
    font-size: 30px;
  }
  #mainContacto h2 {
    font-size: 15px;
    width: 200px;
  }
  #mainContacto #formContacto {
    width: 320px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainContacto #formContacto .redesSociales {
    flex-wrap: wrap;
    width: 300px;
  }
  #mainContacto #formContacto .redesSociales .wp,
  #mainContacto #formContacto .redesSociales .ig {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #mainContacto #formContacto .redesSociales .wp p,
  #mainContacto #formContacto .redesSociales .ig p {
    font-size: 15px;
    width: 250px;
  }
  #mainContacto #formContacto .redesSociales .wp img,
  #mainContacto #formContacto .redesSociales .ig img {
    width: 100px;
    height: 100px;
  }
  #mainContacto #formContacto .cajaMsj {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainContacto #formContacto .cajaMsj .datosPersonales {
    height: 200px;
    flex-wrap: wrap;
  }
  #mainContacto #formContacto .cajaMsj .textoConsulta {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainContacto #formContacto .cajaMsj .textoConsulta h2 {
    font-size: 15px;
    margin-top: 10px;
    width: 250px;
  }
  #mainContacto #formContacto .cajaMsj .textoConsulta .textareaText textarea {
    width: 250px;
  }
  #mainContacto #formContacto .botones {
    margin-left: 80px;
  }
  #mainContacto #formContacto .botones input {
    font-size: 15px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
  }
  #mainContacto #formContacto .botones input:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
#redes .redesBox .imgFooter img {
  width: 10vw;
  height: 10vw;
}

/*# sourceMappingURL=style.css.map */
