/*----------------------FOOTER-------------*/



footer {
    width: 100vw;
    background-color: #ff13a7;
    margin-top: auto;
    /*NO PONER POSICIONAMIENTO RELATIVO O ABSOLUTO*/
    #redes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 100vw;
        position: relative;

        .redesBox {
            display: flex;
            justify-content: left;
            margin-left: 10px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 50px;
                margin: 15px;
            }
        }
        
       

    }
}




