
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a,
li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

li {
    @extend a;
}
