/*--------------------PICKUP-----------------------------------------------------*/

#mainPickup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .mainPickup_h1 {
        font-size: 50px;
        margin-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .mainPickup_mapas {
        display: flex;
        justify-content: center;
        

        .ubi {
            width: 500px;
            margin: 20px;
        }
    }
}







/*------------- FIN PICKUP-------------------*/
/*----------------------------------------------------------------------------*/