main {
    min-height: 100vh;
    display: flex;
    background-color: #000000;
    background-image: url(../images/fotoperfumes3.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#centro {
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .banner_titulo {
        h2 {
            color: #000000;
            font-size: 40px;
            text-shadow: #ff13a7 1px 5px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
        }
        h3 {
            color: #ff13a7;
            text-shadow: black 1px 5px 20px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            margin-top: 50px;
            font-size: 30px;
            width: 900px;
            font-weight: bolder;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 880px) { 
    #navBar {
        img {
            width: 90px;
            height: 90px;
        }
        ul li {
            display: block;
            text-align: center;
            a {
                font-size: 15px;
            }
        }
    }
    #centro .banner_titulo {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 40px;
        }
        h3 {
            font-size: 20px;
            width: 300px;
        }
    }

    
    #mainStockFemenino {
        flex-wrap: wrap;
        justify-content: center;
        h1 {
            font-size: 30px;
        }
    }

    #tablaStockFemenino {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }

    
    #mainStockMasculino {
        flex-wrap: wrap;
        h1 {
            font-size: 30px;
        }
    }
    #tablaStockMasculino {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }
    #mainEnvios {
        h1 {
            font-size: 30px;
            margin-top: 20px;
        }
        #vehiculos {
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
            h2 {
                font-size: 15px;
                height: 80px;
            }
        }
    }
    #mainPickup {
        .mainPickup_h1 {
            font-size: 30px;
            margin-top: 20px;
        }
        .mainPickup_mapas {
            flex-wrap: wrap;
        }
    }
    #mainContacto {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        #formContacto {
            width: 500px;
            justify-content: center;
            .redesSociales {
                flex-wrap: wrap;
                .wp img,
                .ig img {
                    width: 100px;
                    height: 100px;
                }
            }
            .cajaMsj {
                height: 500px;
                .datosPersonales {
                    height: 200px;
                    flex-wrap: wrap;
                }
                .textoConsulta {
                    width: 400px;
                    justify-content: center;
                    .textareaText textarea {
                        width: 350px;
                    }
                }
                .botones {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    header {
        height: 180px;
    }
    #navBar {
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        ul li {
            a {
                font-size: 15px;
            }
            a:hover {
                color: #ffffff;
                text-shadow: #000000 5px 5px 5px;
                transition: .5s;
                font-size: 20px;
            }
        }
    }
    #centro .banner_titulo {
        h2 {
            font-size: 30px;
            width: 200px;
        }
        h3 {
            font-size: 18px;
            width: 200px;
        }
    }
    #mainStockFemenino {
        h1 {
            font-size: 20px;
            margin: 10px;
        }
        #tablaStockFemenino {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px;
            gap: 10px;
            .caja {
                width: 200px;
            }
            .givenchy {
                margin-bottom: 10px;
            }
        }
    }

    #mainStockMasculino {
        h1 {
            font-size: 20px;
            margin: 10px;
        }
        #tablaStockMasculino {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            gap: 10px;
            .caja {
                width: 200px;
            }
            .bvlgary {
                margin-bottom: 10px;
            }
        }
    }
    #mainEnvios {
        h1 {
            font-size: 20px;
            margin-top: 20px;
        }
        #vehiculos {
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
            .viaCargo,
            .moto {
                width: 280px;
                height: 260px;
                img {
                    width: 250px;
                    height: 180px;
                }
                h2 {
                    font-size: 15px;
                    height: 80px;
                    width: 270px;
                }
            }
        }
    }
    #mainPickup {
        .mainPickup_h1 {
            font-size: 20px;
            margin-top: 20px;
        }
        .mainPickup_mapas {
            flex-wrap: wrap;
            width: 80vw;
            font-size: 10px;
            justify-content: center;
        }
        .card .ubi {
            justify-content: center;
        }
    }
    #mainContacto {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        #formContacto {
            width: 320px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .redesSociales {
                flex-wrap: wrap;
                width: 300px;
                .wp,
                .ig {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 10px;
                        width: 250px;
                    }
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .cajaMsj {
                height: 500px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .datosPersonales {
                    height: 200px;
                    flex-wrap: wrap;
                }
                .textoConsulta {
                    width: 280px;
                    justify-content: center;
                    h2 {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                    .textareaText textarea {
                        width: 250px;
                    }
                }
                .botones {
                    margin-left: 80px;
                    input {
                        font-size: 15px;
                        padding: 10px;
                        background-color: #ffffff;
                        color: #000000;
                        border: 2px solid black;
                    }
                    input:hover {
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    #redes .redesBox .imgFooter img {
        width: 10vw;
        height: 10vw;
    }
}

